*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    background-image: url('https://image.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg');
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: rgb(80, 80, 80);
    height: auto;
    width: 100%;
}

h1.text_header{
    margin-right: 35pt;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 20px;
}
h1.text_header:hover{
    color: rgb(255, 251, 38);
    transition: 25ms;
}

img.logo_header{
    height: 60px;
    width: 200px;
}

nav{
    height: 50px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    box-shadow: 5px 10px 15px rgb(155, 155, 155);
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 8px;
}

nav ul li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

nav ul li a:hover{
    color: rgb(255, 251, 38);
    transition: 25ms;
}

footer{
    margin-top: 130px;
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(71, 69, 69);
    height: auto;
}

footer p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

footer p:hover{
    color: rgb(255, 251, 38);
    transition: 25ms;
}